.navBarContainer {
    background-color: white;
    height: 70px;
    width: 100vw;
    margin: 0;
    position: fixed;
    top: 0px;
}


.logo {
  width: 70%;
  display: inline-block;
}

.logoLetter {
    color: black;
    font-size: 40px;
    padding: 5px;
    margin: 0;
    display: inline-block;
}


.navigationItem {
    color: black;
    width: 19%;
    margin: 20px 5px;
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;

}

.NavBarButton {
    border: none;
    background: none;
    letter-spacing: 6px;
    margin-left: 25px;
    padding: 0px;
}
.NavBarButton:focus {
    outline:0;
}
.NavBarButton div {
    display: inline;
    color: black;
    font-size: 15px;
}
.NavBarButton div:hover {
    display: inline;
    color: white;
    font-size: 31px;
}